if status is-interactive
    # Commands to run in interactive sessions can go here
end

# Disable the fish greeting message
set fish_greeting ""

set -U EDITOR nvim

{{ if eq .chezmoi.os "darwin" }}
{{ else if eq .chezmoi.os "linux" }}
set PATH "$PATH:/opt/nvim-linux64/bin"

# ls abbreviations
if type -q eza
    abbr --add ll eza --long --classify --all --header --git --no-user --tree --level 1 --icons --classify
    abbr --add ls eza --icons
end
{{ else }}
# other operating system
{{ end }}

# GO Path
set GOPATH "$HOME/go"
set PATH "$PATH:$GOPATH/bin"
set PATH "$PATH:/usr/local/go/bin"

# Rust Path
set RUSTPATH "$HOME/.cargo"
set PATH "$PATH:$RUSTPATH/bin"

# Android studio
set ANDROID_HOME "$HOME/.android-sdk"
set PATH "$ANDROID_HOME/cmdline-tools/latest/bin:$PATH"
set PATH "$ANDROID_HOME/platform-tools:$PATH"

# Deno
set DENO_INSTALL "/Users/yurb/.deno"
set PATH "$DENO_INSTALL/bin:$PATH"

# PDM
set PATH "$HOME/.local/bin:$PATH"

# Posgresql
set PATH "/opt/homebrew/opt/postgresql@15/bin:$PATH"

## Pyenv
set -Ux PYENV_ROOT $HOME/.pyenv
set PATH "$PATH:$PYENV_ROOT/bin"
pyenv init - | source
 
# Plugs
starship init fish | source
zoxide init fish | source
source ~/.asdf/asdf.fish

# uv and uvx completions
uv generate-shell-completion fish | source
uvx --generate-shell-completion fish | source

# The next line updates PATH for the Google Cloud SDK.
if [ -f '/Users/yurb/google-cloud-sdk/path.fish.inc' ]
    . '/Users/yurb/google-cloud-sdk/path.fish.inc'
end

# pnpm
set -gx PNPM_HOME /Users/yurb/Library/pnpm
if not string match -q -- $PNPM_HOME $PATH
    set -gx PATH "$PNPM_HOME" $PATH
end
# pnpm end

{{ if eq .chezmoi.os "darwin" }}

# Added by OrbStack: command-line tools and integration
# This won't be added again if you remove it.
source ~/.orbstack/shell/init.fish 2>/dev/null || :

{{ end }}
