{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install zoxide
{{ else if eq .chezmoi.os "linux" -}}
#!/bin/sh
curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh
{{ end -}}

fish -c 'zoxide init fish | source'
